Repository Smart-Home-Guard/tempusalert-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,js,tsx}": ["eslint --fix"],
  "**/*.{tsx,ts,js,json,md,yml,yaml}": ["prettier --write"]
}

chore: add openapi-typescript
  package.json
  yarn.lock
Due: prettier --write

doc: add README
  README.md
  app/lib/README.md
  app/ui/README.md
  public/README.md
Due: prettier --write

fix: remove scaffolded files
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/page.tsx
  public/next.svg
  public/vercel.svg
Due: eslint --fix, prettier --write

chore(github-action): setup lint and test workflows
  .github/workflows/lint.yml
  .github/workflows/test.yml
  package.json
Due: prettier --write

chore: reset theme
  tailwind.config.ts
Due: eslint --fix, prettier --write

chore: add env example
  .env.example
Due: none

chore(open-api): setup script to pull open-api types from backend server
  .env.example
  .gitignore
  package.json
  yarn.lock
Due: prettier --write

chore: ignore .env
  .gitignore
Due: none

chore: reorganize project
  app/globals.css
  components.json
  components/ui/README.md
  lib/README.md
  lib/utils.ts
  package.json
  tailwind.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

chore(favicon): change icon to match brand color
  app/favicon.ico
Due: none

feat: add Toaster
  .husky/pre-commit
  app/layout.tsx
  app/page.tsx
  components.json
  components/ui/toast.tsx
  components/ui/toaster.tsx
  components/ui/use-toast.ts
  package.json
  styles/globals.css
  tailwind.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: change rounded icon
  app/favicon.ico
Due: none

chore: add brand logo
  public/brand-logo.png
Due: none

chore: fix workflows
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

feat: add breadcrumb
  components/ui/breadcrumb.tsx
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: fix ci workflows
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

fix: test workflow
  .github/workflows/test.yml
Due: prettier --write

feat: add color variables
  styles/globals.css
Due: none

fix: tailwind color
  tailwind.config.ts
Due: eslint --fix, prettier --write

fix: component color
  components/ui/breadcrumb.tsx
  components/ui/toast.tsx
Due: eslint --fix, prettier --write

feat: add fontsize and spacing
  styles/globals.css
Due: none

feat: add predefined width, height, margin and spacing
  tailwind.config.ts
Due: eslint --fix, prettier --write

fix(tailwind): remove hsl for rgb colors
  tailwind.config.ts
Due: eslint --fix, prettier --write

fix: replace text-very-dark to neutral-very-dark
  components/ui/breadcrumb.tsx
  components/ui/toast.tsx
  styles/globals.css
Due: eslint --fix, prettier --write

fix: remove redundant whitespaces
  styles/globals.css
Due: none

fix: variable naming
  tailwind.config.ts
Due: eslint --fix, prettier --write

feat: add line height
  styles/globals.css
  tailwind.config.ts
Due: eslint --fix, prettier --write

fix: patch old class
  components/ui/breadcrumb.tsx
  components/ui/toast.tsx
Due: eslint --fix, prettier --write

fix: patch old class
  app/layout.tsx
Due: eslint --fix, prettier --write

feat: add RootPage
  app/page.tsx
Due: eslint --fix, prettier --write

feat: add and customize shadcn components
  components/ui/button.tsx
  components/ui/form.tsx
  components/ui/label.tsx
  components/ui/toast.tsx
Due: eslint --fix, prettier --write

chore: update package.json
  package.json
  yarn.lock
Due: prettier --write

fix: add auto margin
  tailwind.config.ts
Due: eslint --fix, prettier --write

fix: background of layout
  app/layout.tsx
Due: eslint --fix, prettier --write

feat: add shadcn input
  components/ui/input.tsx
Due: eslint --fix, prettier --write
