Repository Smart-Home-Guard/tempusalert-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,js,tsx}": ["eslint --fix"],
  "**/*.{tsx,ts,js,json,md,yml,yaml}": ["prettier --write"]
}

fix: modify shadcn button
  components/ui/button.tsx
Due: eslint --fix, prettier --write

feat: add shadcn card
  components/ui/card.tsx
Due: eslint --fix, prettier --write

fix: shadcn form component
  components/ui/form.tsx
Due: eslint --fix, prettier --write

fix: modify shadcn form component
  components/ui/form.tsx
Due: eslint --fix, prettier --write

fix: change logo to hexagon-like
  app/favicon.ico
  public/brand-logo.png
Due: none

fix(tailwind): add full width and height
  tailwind.config.ts
Due: eslint --fix, prettier --write

feat: basic login page
  app/login/page.tsx
Due: eslint --fix, prettier --write

feat: add link to signup page
  app/login/page.tsx
Due: eslint --fix, prettier --write

feat: signup page
  app/signup/page.tsx
Due: eslint --fix, prettier --write

fix: use headers instead of cookies to extract isLoggedIn
  app/page.tsx
Due: eslint --fix, prettier --write

chore: fix .env.example
  .env.example
Due: none

fix: revert .env.example
  .env.example
Due: none

chore: fix prefix NEXT_PUBLIC to some env var
  .env.example
Due: none

feat: add api client
  lib/apiClient.ts
  package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

refactor: apiClient
  lib/apiClient.ts
Due: eslint --fix, prettier --write

fix: apiClient also sends jwt header
  lib/apiClient.ts
Due: eslint --fix, prettier --write

fix: apiClient check for client env
  lib/apiClient.ts
Due: eslint --fix, prettier --write

chore: add unicon
  package.json
  yarn.lock
Due: prettier --write

feat: add shadcn alert
  components/ui/alert.tsx
Due: eslint --fix, prettier --write

feat: add api calls for signup and register
  app/login/page.tsx
  app/signup/page.tsx
  components/ui/alert.tsx
  components/ui/toast.tsx
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: save loggedin in localStorage
  app/page.tsx
Due: eslint --fix, prettier --write

fix: set loggedin in localStorage upon logging in successfully
  app/login/page.tsx
Due: eslint --fix, prettier --write

fix: wrap redirect in startTransition
  app/login/page.tsx
Due: eslint --fix, prettier --write

feat: register push api
  app/layout.tsx
  app/page.tsx
  lib/utils.ts
  public/push-notification-listener.js
Due: eslint --fix, prettier --write

fix: register serviceWorker in Root component instead
  app/layout.tsx
  app/page.tsx
Due: eslint --fix, prettier --write

chore: config target of typescript
  tsconfig.json
Due: prettier --write

chore: install usehooks-ts
  package.json
  yarn.lock
Due: prettier --write

feat: handle push notification
  app/clientApplication.tsx
  app/layout.tsx
  app/login/page.tsx
  app/page.tsx
Due: eslint --fix, prettier --write

fix: save if push notification was successful
  app/clientApplication.tsx
  app/login/page.tsx
Due: eslint --fix, prettier --write

fix: redirect to /home if on /login and already loggedIn
  app/login/page.tsx
Due: eslint --fix, prettier --write

fix: redirect to /home if on /signup and already loggedIn
  app/signup/page.tsx
Due: eslint --fix, prettier --write

chore: add an immediate size
  styles/globals.css
  tailwind.config.ts
Due: eslint --fix, prettier --write

chore: add avatar
  package.json
  yarn.lock
Due: prettier --write

feat: add shadcn avatar component
  components/ui/avatar.tsx
Due: eslint --fix, prettier --write

fix: root layout
  app/layout.tsx
Due: eslint --fix, prettier --write

feat: basic home layout
  app/home/layout.tsx
Due: eslint --fix, prettier --write

feat: basic navigation bar
  app/home/navbar.tsx
Due: eslint --fix, prettier --write

feat: basic homepage
  app/home/page.tsx
Due: eslint --fix, prettier --write
